
<div class="text-center">
    <h1 class="display-4">Opciones de Personas</h1>
    
    <div class="row" style="margin-top:30px;">

        <a asp-action="ListarPersonas" asp-controller="Personas" class="btn btn-success" style="font-size:50px; margin-top:30px">Listar Personas</a>
        <a asp-action="CreatePersona" asp-controller="Personas" class="btn btn-success" style="font-size:50px; margin-top:30px">Crear Persona</a>        
        <a asp-action="DeletePersona" asp-controller="Personas" class="btn btn-success" style="font-size:50px; margin-top:30px">Eliminar Persona (por dni)</a>
        <a asp-action="IndexLogueado" asp-controller="Home" class="btn btn-success" style="font-size:50px; margin-top:30px; background-color: darkblue">Volver al Home</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success" style="font-size:50px; margin-top:30px; background-color:red">Cerrar sesión</a>
    </div>
</div>
