
<div class="text-center">
    <h1 class="display-4">Opciones de Turnos</h1>
    
    <div class="row" style="margin-top:30px;">
        <a asp-action="ListarTurnos" asp-controller="Turnos" class="btn btn-success" style="font-size:50px; margin-top:30px">Listar Turnos</a>
        <a asp-action="IndexLogueado" asp-controller="Home" class="btn btn-success" style="font-size:50px; margin-top:30px; background-color: darkblue">Volver al Home</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success" style="font-size:50px; margin-top:30px; background-color:red">Cerrar sesión</a>
    </div>
</div>
